{% extends "task/base.html" %}
{% load staticfiles %}
{% load assets %}
{% block head %}
    <meta name="keywords" content="">
    <meta name="description" content="">
    {% assets "all_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    <title>Main</title>
{% endblock %}
{% block content %}
    <div class="container">
        <div id="test_name" class="col-xs-8 col-xs-offset-2 text-center"><h1>42 Coffee Cups Test Assignment</h1></div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-12 field"><span class="content-title"></span>{{ profile.name }}</div>
                            <div class="col-xs-12 field"><span class="content-title"></span>{{ profile.last_name }}</div>
                            <div class="col-xs-12 field"><span class="content-title"></span>{{ profile.date_of_birth }}</div>
                            <div class="col-xs-12 field"></div>
                            <div class="col-xs-12 field bio-field"><span class="content-title">Bio:</span>{{ profile.bio|linebreaks }}</div>
                        </div>
                    </div>
                    <div class="col-xs-6 ">
                        <div class="row">
                            <div class="col-xs-12 field"><span class="content-title_right_column">Contacts</span></div>
                            <div class="col-xs-12 field"><span class="content-title_right_column">Email:</span>{{ profile.email }}</div>
                            <div class="col-xs-12 field"><span class="content-title_right_column">Jabber:</span>{{ profile.jabber }}</div>
                            <div class="col-xs-12 field"><span class="content-title_right_column">Skype:</span>{{ profile.skype }}</div>
                            <div class="col-xs-12 field"><span class="content-title_right_column">Other contacts:</span>{{ profile.other_contacts|linebreaks }}</div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 hr"></div>
                        <div class="col-xs-3">
                            <a id="requests" href="{% url 'task:request_list' %}">requests</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}