{% extends "base.html" %}
{% load staticfiles %}
{% load assets %}
{% block head %}
    <meta name="keywords" content="">
    <meta name="description" content="">
    {% assets "all_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript" src="{% static 'js/get_requests.js' %}"></script>
    <title>Request list</title>
{% endblock %}
{% block content %}
    <h1>42 Coffee Cups Test Assignment</h1>
    <div class=container>
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-12 result">
                </div>
            </div>
        </div>
    </div>
{% endblock %}