{% extends "task/base.html" %}
{% load staticfiles %}
{% load assets %}
{% block head %}
    <meta name="keywords" content="">
    <meta name="description" content="">
    {% assets "all_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    <title>Main</title>
{% endblock %}
{% block content %}
    <h1>42 Coffee Cups Test Assignment</h1>
    <div class=container>
    <div class="row">
        <div class="col-xs-12">
            {{ obj.request }}
        </div>
    </div>
    </div>
{% endblock %}