{% extends "base.html" %}
{% load staticfiles %}
{% load assets %}
{% block head %}
    <meta name="keywords" content="">
    <meta name="description" content="">
    {% assets "all_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <title>Main</title>
{% endblock %}
{% block content %}
    <div class="indicator"><img src="{% static 'images/indicator.gif' %}"> </div>
    <div class="container">
        <div id="test_name" class="col-xs-8 col-xs-offset-2 text-center"><h1>42 Coffee Cups Test Assignment</h1></div>
        <div class="row">
            <div class="col-xs-2 pull-right">
                <div class="authenticated-div col-xs-2 col-xs-offset-2">
                    <div>
                        {% if user.is_authenticated %}
                            <a user_id="{{ user_profile.id }}" onclick="logout()" id="logout" href='#'>Logout</a>
                        {% else %}
                            <a  href='{% url 'task:login' %}'>Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xs-11 main-div">
                <div class="row">
                    <div class='logged_in_greeting col-xs-12'>
                        <div class='row'>
                            <div class='logged_in_greeting_title col-xs-10'>
                                {% if user.is_authenticated %}
                                    <form action="{% url 'task:update_profile' %}" method="post" id="update-profile-form" enctype="multipart/form-data">
                                        {{ user_form.id }}
                                        <div class="col-xs-6 left-column">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label >{{ user_form.name.label }}</label>
                                                {{ user_form.name }}
                                            </div>
                                            <div class="form-group">
                                                <label >{{ user_form.last_name.label }}</label>
                                                {{ user_form.last_name }}
                                            </div>
                                            <div class="form-group">
                                                <label >{{ user_form.date_of_birth.label }}</label>
                                                {{ user_form.date_of_birth }}
                                            </div>
                                            <div class="form-group">
                                                {{ user_form.photo }}
                                            </div>
                                            <div class="div_image_preview">
                                                {% if profile.photo  %}
                                                    <img id="image_preview" width="200"  src="{{ profile.photo.url }}">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-xs-6 right_column">
                                            <div class="form-group">
                                                <label >{{ user_form.email.label }}</label>
                                                {{ user_form.email }}
                                            </div>
                                            <div class="form-group">
                                                <label >{{ user_form.jabber.label }}</label>
                                                {{ user_form.jabber }}
                                            </div>
                                            <div class="form-group">
                                                <label >{{ user_form.skype.label }}</label>
                                                {{ user_form.skype }}
                                            </div>
                                            <div class="form-group">
                                                <label >{{ user_form.other_contacts.label }}</label>
                                                {{ user_form.other_contacts }}
                                            </div>
                                            <div class="form-group">
                                                <label >{{ user_form.bio.label }}</label>
                                                {{ user_form.bio }}
                                            </div>
                                        </div>
                                        <input class="btn-group btn" type="submit" value="Save">
                                        <a class="btn-group btn"  href="#">Cancel</a>
                                    </form>
                                    </div>
                                {% else %}
                                    <div class="user-data">
                                        <div class="col-xs-6 left-column">
                                            <div class="field">Name: {{ profile.name }}</div>
                                            <div class="field">Last Name: {{ profile.last_name }}</div>
                                            <div class="field">Date of Birth: {{ profile.date_of_birth }}</div>
                                            <div class="div_image_preview">
                                                {% if profile.photo  %}
                                                    <img id="image_preview" width="200"  src="{{ profile.photo.url }}">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-xs-6 right_column">
                                            <div class="field">Email: {{ profile.email }}</div>
                                            <div class="field">Jabber: {{ profile.jabber }}</div>
                                            <div class="field">Skype: {{ profile.skype }}</div>
                                            <span>Other_contacts:</span>
                                            <div class="field">{{ profile.other_contacts|linebreaks }}</div>
                                            <span id="bio_title">Bio:</span>
                                            <div>{{ profile.bio|linebreaks }}</div>
                                        </div>
                                        {% if user.is_authenticated %}
                                            <input class="btn-group btn" type="submit" value="Save">
                                            <a class="btn-group btn"  href="#">Cancel</a>
                                        {% endif %}
                                    </div>
                                    </div>
                                {% endif %}
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 hr"></div>
                                <div class="col-xs-3">
                                    <a href="{% url 'task:request_list' %}">requests</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}